
<div class="container">
    <button class = 'home' onclick="location.href='/';" >
      Home
    </button>

<div>
    <a href="/{{name}}"></a>
    <img class="img-circle" src="{{image}}" alt="{{name}}">
</div>




</div>