<h3>Dabs!</h3>
  <button class = 'home' onclick="location.href='/';" >
      Home
    </button>
{{#each generatedDabs}}
<a href="/dab-profile/{{id}}"><h3>{{name}}</h3>
<img src="{{source}}" height="150px"></a>

{{/each}}