  
    <h1>Daba Base</h1>
    <div class="container">
    <div>
    <p>Welcome to DabaBases - where you can choose your favourite Dab!</p>
    </div>
    <h2>Pick a Dab</h2>
    {{!-- tags to for selecting dabs --}}
    <form action="/dabs" method="post">
    <div class="itemcontainer">
      <label>Human:
          <input type="checkbox" id=1 name="human">
      </label>
      <label>Non-Human:
          <input type="checkbox" id=2 name="non-human">
      </label>
      <label>Inside:
          <input type="checkbox" id=3 name="inside">
      </label>
      <label>Outside:
          <input type="checkbox" id=4 name="outside">
      </label>
      <label>Group:
          <input type="checkbox" id=5 name="group">
      </label>
    </div>
    
{{!-- button to grab dabs based on selection --}}
    <div class="itemcontainer">
      <button class="dab-button" onclick="location.href='/dabs';">Get Dab</button>
    </div>
    </form>
{{!-- button to see all dabs --}}
    <div class="itemcontainer">
      <a href='/dababase'><img src=panda>pandaimg</a>
    </div>
<<<<<<< HEAD
`
  </body>
</html>
=======

>>>>>>> 63b09795b44c8a4ec7d1543986d56e297bc37ff1
