  
    <h1>Daba Base</h1>
    <div class="container">
    <div>
    <p>Welcome to DabaBases - where you can choose your favourite Dab!</p>
    </div>
    <h2>Pick a Dab</h2>
    {{!-- tags to for selecting dabs --}}
    <form action="/" method="post">
    <div class="itemcontainer">
      <label>Human:
          <input type="checkbox" id=1 name="1">
      </label>
      <label>Non-Human:
          <input type="checkbox" id=2 name="2">
      </label>
      <label>Inside:
          <input type="checkbox" id=3 name="3">
      </label>
      <label>Outside:
          <input type="checkbox" id=4 name="4">
      </label>
      <label>Group:
          <input type="checkbox" id=5 name="5">
      </label>
    </div>
    
{{!-- button to grab dabs based on selection --}}
    <div class="itemcontainer">
      <button class="dab-button" onclick="location.href='/dabs';">Get Dab</button>
    </div>
    </form>
{{!-- button to see all dabs --}}
    <div class="itemcontainer">
      <a href='/dababase'><img src=panda>pandaimg</a>
    </div>
