body {
background-color: skyblue;
background-size: cover;
font-family: 'Arial';
font-size: 2em;

}

.container{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

input[type=checkbox] + img {
    background: none;
    padding: 40px;
}

input[type=checkbox]:checked + img {
    background: rgb(47, 86, 241);
    padding: 10px;
    border-radius: 50%;
} 

.img-circle{
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}